{% extends 'master' %}

{% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Page not found!</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="col-md-6 col-xs-12">
              Page you've requested is not found. Please select differenct menu from navigation!<br>
              Or click <a style="color:blue;text-decoration:underline" href="/dashboard">here</a> to go to main menu.
            </div>
          </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>
{% endblock %}
